<%- include("./partials/header.ejs") %> 
<h1>Welcome to the Super team picker</h1>
<img class="row-cols-md-6 rounded-circle" class="center" src="image/team_picker.png" alt="">


<%- include("./partials/footer.ejs") %> 