<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    
    <script src="/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="/js/bootstrap.esm.min.js" charset="utf-8"></script>
    <script src="/js/assing_teams.js" charset="utf-8"></script>
</head>
<body>
    <nav class=" nav nav-pills flex-column flex-md-row">
        <a class=" flex-sm-fill text-md-center nav-link active px-3" aria-current="page" href="/">Super Team Picker</a>
        <a class="  flex-sm-fill text-md-center nav-link px-3" href="/">Home</a>
        <a class=" flex-sm-fill text-md-center nav-link px-3" href="/cohorts/new">New cohort</a>
        <a class=" flex-sm-fill text-md-center nav-link px-3" href="/cohorts">Cohorts</a>
        
    </nav>
    
    
    